body{
  font-family: "Maven Pro", sans-serif;
  overflow-x: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.title {
  color: #a2804b;
  text-align: center;
}